[submodule "dwww"]
	path = dwww
	url = https://salsa.debian.org/debian/dwww.git
[submodule "cygwin-auto-install"]
	path = cygwin-auto-install
	url = https://github.com/furrymcgee/cygwin-auto-install.git
[submodule "doc-base"]
	path = doc-base
	url = https://salsa.debian.org/debian/doc-base.git
[submodule "sensible-utils"]
	path = sensible-utils
	url = https://github.com/furrymcgee/sensible-utils.git
[submodule "swish++"]
	path = swish++
	url = https://github.com/furrymcgee/swish.git
[submodule "publib"]
	path = publib
	url = https://github.com/furrymcgee/publib.git
[submodule "docx2txt"]
	path = docx2txt
	url = https://github.com/furrymcgee/docx2txt.git
[submodule "debconf"]
	path = debconf
	url = https://salsa.debian.org/pkg-debconf/debconf.git
[submodule "cygport"]
	path = cygport
	url = https://github.com/cygwinports/cygport.git
[submodule "po-debconf"]
	path = po-debconf
	url = https://github.com/furrymcgee/po-debconf.git
[submodule "intltool-debian"]
	path = intltool-debian
	url = https://salsa.debian.org/debian/intltool-debian.git
[submodule "debhelper"]
	path = debhelper
	url = https://salsa.debian.org/debian/debhelper.git
[submodule "dpkg"]
	path = dpkg
	url = https://git.dpkg.org/cgit/dpkg/dpkg.git
[submodule "dh-autoreconf"]
	path = dh-autoreconf
	url = https://salsa.debian.org/debian/dh-autoreconf.git
[submodule "strip-nondeterminism"]
	path = strip-nondeterminism
	url = https://salsa.debian.org/reproducible-builds/strip-nondeterminism.git
[submodule "fakeroot"]
	path = fakeroot
	url = https://salsa.debian.org/clint/fakeroot.git
[submodule "tar"]
	path = tar
	url = https://salsa.debian.org/debian/tar.git
[submodule "calm"]
	path = calm
	url = git://sourceware.org/git/cygwin-apps/calm.git
[submodule "meson-cygport"]
	path = meson-cygport
	url = ./meson-cygport/
[submodule "meson"]
	path = meson
	url = ./meson
[submodule "ninja-cygport"]
	path = ninja-cygport
	url = ./ninja-cygport
[submodule "strip-nondeterminism"]
	path = strip-nondeterminism
	url = ./strip-nondeterminism/
