calm
cygport
cygwin-setup
debconf
debconf
debian
debhelper
dh-autoreconf
doc-base
docx2txt
dpkg
dwww
fakeroot
intltool-debian
po-debconf
publib
rebootstrap
sensible-utils
swish++
tar
*~
*.deb
*.noarch
*.i686
*_*.bz2
*_*.gz
*_*.xz
!etc/*
