[submodule "cygwin-auto-install"]
	path = cygwin-auto-install
	url = https://github.com/furrymcgee/cygwin-auto-install.git
[submodule "repository/Y%3a%2f"]
	path = repository/Y%3a%2f
	url = https://github.com/furrymcgee/repository
[submodule "repository/debian"]
	path = repository/debian
	url = https://github.com/furrymcgee/debian
